<style>
    .custom_banner_contact_inner {
      position: relative;
      display: flex;
  }

    .custom_banner_contact_inner img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }

    .custom_banner_contact_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: max-content;
  }
  .custom_banner_contact_title h1 {
      letter-spacing: 7px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Futura BT";
      text-transform: uppercase;
      margin: 0;
      width: 100%;
  }

  .desk-hide {
    display: none;
  }
     @media screen and (max-width: 768px) {
      .custom_banner_contact_inner img { height: 60vh; object-fit: cover; }

      .custom_banner_contact_title { width: 90%; text-align: center; }
    }

    @media screen and (max-width: 640px) {
      .custom_banner_contact_title h1 { font-size: 26px; }

      .desk-hide { display: block; }

      .mob-hide { display: none; }
    }
</style>

<div class="custom_banner_contact_wrapper">
  <div class="custom_banner_contact_inner">
    {% if section.settings.img != blank %}
      <img class="mob-hide" src="{{ section.settings.img | img_url: '1296x' }}">
      <img class="desk-hide" src="{{ section.settings.mob_img | img_url: 'master' }}">
    {% endif %}
    {% if section.settings.title != blank %}
      <div class="custom_banner_contact_title">
        <h1>{{ section.settings.title }}</h1>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
"name": "Custom Banner Contact",
"class": "custom_banner_contact_section",
"settings": [
{
"type" : "image_picker",
"id" : "img",
"label" : "Select Image"
},
{
"type" : "image_picker",
"id" : "mob_img",
"label" : "Select Mobile Image"
},
{
"type" : "text",
"id" : "title",
"label" : "Enter Page Title"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
