<style>
  .con_m {
    position: relative;
  }

  .contact_main_wrapper {
      padding: 6rem 5rem;
      max-width: 1800px;
      margin: auto;
      display: grid;
      grid-template-columns: 300px 1fr;
      align-items: flex-start;
  }

  img.contact_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
  }

    @media screen and (max-width: 768px) {
      .contact_main_wrapper { padding: 6rem 3rem; grid-template-columns: 250px 1fr; }
    }

    @media screen and (max-width: 640px) {
      .contact_main_wrapper { grid-template-columns: 1fr; gap: 0;  padding: 3rem; padding-bottom: 5rem; }

      .contact_main_wrapper.gap { gap: 5rem; }
    }
</style>

{% section 'custom-banner-contact' %}

<div class="con_m">
  <img class="contact_bg" src="{{ 'contact_bg.jpg' | asset_img_url: 'master' }}">
  <div class="contact_main_wrapper">
    {% section 'left-section' %}
    {% section 'alternate-contact-section' %}
  </div>
</div>

{% section 'store-locator' %}
